body {
  margin-left: 5%;
  margin-right: 5%;
}

.panel-body {
  min-height: 195px;
}

#chat-win {
  overflow: auto;
  height: 124px;
}

div {
  padding-bottom: 5px;
}

.chatuid {
  font-weight: bold;
}
